
body{
  background-color: #362523;
  font-family: "Montserrat";
}
.title{
  margin-top: 30px !important;
}
.card{
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 15px;
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.task-list{
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 15px;
  border-color: rgba(0,0,0,0.1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

.new-task-heading{
  margin-bottom: 20px;
}

.title-summary{
  padding-left: 10px;
  font-style: italic;
  font-size: .9em;
}

.form-row{
  display: grid;
  grid-template-columns: 150px 300px;
  margin-bottom: 10px;
}

.new-task-field-label{
  padding-right: 15px;
}

.task{    
  padding: 20px 10px 10px 10px;
  align-items: center;
  font-size: 1.2em;
  width: 500px;
  border-width: 1px;
  border-radius: 4px;
  border-color: #999999;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 20px;  
}

.task > * {
  flex: 1 100%;
}

.task-content{
  display:grid;
  grid-template-columns: 1fr 9fr ;  
  position: relative;
  margin-bottom: 10px;
}

.task-details{
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding-left: 5px;
  padding-right: 20px;
}

.task-name{
  font-size: 1.1em;
  font-weight:500;
}

.task-description{
  font-size: 0.9em;
  font-style: italic;
}

.error-text{
  color: red;
  font-style: italic;
  font-size: 0.9em;
}

.Task-List{
  margin-top: 2em;
}

.task-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.close-button{
  position: absolute;
  right: 3px;
  top: 3px;
}

.task-subtask{
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #888888;  
  font-size: 1rem;
}

.task-subtask li{
  list-style-type: none;
}

.subTask-checkbox{
  margin-right: 10px;
}

.task-edit{
  margin-bottom: 5px;
}