
body{
  background-color: #68b5d8;
  font-family: "Montserrat";
}

.card{
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 15px;
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.new-task-heading{
  margin-bottom: 20px;
}

.title-summary{
  padding-left: 10px;
  font-style: italic;
  font-size: .9em;
}

.new-task-field{
  display: grid;
  grid-template-columns: 150px 300px;
  margin-bottom: 10px;
}

.new-task-field-label{
  padding-right: 15px;
}

.task{
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.2em;
}

.display-task{
  padding-left: 5px;
  padding-right: 20px;
}

.task-name{
  font-size: 1.1em;
  font-weight:500;
}

.task-description{
  font-size: 0.9em;
  font-style: italic;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Task-List{
  margin-top: 2em;
}
